<div class="container">
    <h1>WELL DONE</h1>
      
      <h2>Winner: <%= @winner.name %></h2>
        <h3> Game Time: <%= @game.elapsed_time%></h3>


    
      <p>Play again?</p>
      <a href='/race'>Yes</a>
    <a href='/logout'>No</a>
</div>

